<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		{{ partial "headers.html" . }}
		{{ partial "custom_headers.html" . }}
		<meta name="keywords" content="événements, evenements, events, event">
		<meta name="description" content="Liste des événements et prochains concerts de Forró Cana Canaia">
	</head>

	<body>
		<div id="all">
			{{ partial "top.html" . }}

			{{ partial "nav.html" . }}

			{{ partial "breadcrumbs.html" . }}

			<div id="content">
			{{ if isset .Params "id" }}

				{{ partial .Params.id . }}

			{{ else }}
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div>
								{{ .Content }}
								<ul>
								{{ range sort .Pages "Params.StartDate" "desc" }}
									<li><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
										<div><b>Date :</b> {{ time.Format "02/01/2006" .Params.StartDate }}</div>
										<div><b>Lieu :</b>
											{{ $s :=  printf "%s, %s" .Params.Place .Params.City  }}
											<a href="https://maps.apple.com/?q={{ urlize $s }}">
												{{ $s }}	
											</a>
										</div>
									</li>
								{{ end }}
								</ul>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			{{ end }}
			</div>
		</div>
	        {{ partial "scripts.html" . }}
	</body>
</html>
