<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		{{ partial "headers.html" . }}
		{{ partial "custom_headers.html" . }}
	</head>

	<body>
		<div id="all">
			{{ partial "top.html" . }}

			{{ partial "nav.html" . }}

			{{ partial "breadcrumbs.html" . }}

			<div id="content">
			{{ if isset .Params "id" }}

				{{ partial .Params.id . }}

			{{ else }}
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div>
								<img src="/evenements/{{ .File.BaseFileName }}.jpeg" alt="bannière">
								<h3>{{ .Title }}</h3>
								<div><b>Date :</b> {{ $start := time.AsTime .Params.StartDate }}{{ $start.Format "02/01/2006" }}</div>
								<div><b>Horaire :</b> {{ $start := time.AsTime .Params.StartDate }}{{ $start.Format "15:04" }}
								{{- with .Params.EndDate}}
									{{ $end := time.AsTime . }}
									− {{ $end.Format "15:04" }}
								{{ end -}}
								</div>
								<div><b>Lieu :</b>
									{{ $s :=  printf "%s, %s" .Params.Place .Params.City  }}
									<a href="https://maps.apple.com/?q={{ urlize $s }}">
										{{ $s }}	
									</a>
								</div>
								{{ with .Params.Price }}
								<div><b>Prix :</b> {{ . }}</div>
								{{ end }}
								{{ range $socialMediaName, $socialMediaLink := .Params.Social_media }}
								<div><a href="{{ $socialMediaLink }}">{{ $socialMediaName }}</a></div>
								{{ end }}
								<br>
								<div>
									{{ .Content }}
								</div>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			{{ end }}
			</div>
		</div>
	</body>
</html>
